body {
    background-image: url('https://document-export.canva.com/a1NqE/DAFo1sa1NqE/12/thumbnail/0002.png?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAQYCGKMUHWDTJW6UD%2F20230728%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20230728T181524Z&X-Amz-Expires=31584&X-Amz-Signature=758c8e4a0a3f2a67a0da49bcec8d7ac81be53b7828fa806df7a81faf16eebdf3&X-Amz-SignedHeaders=host&response-expires=Sat%2C%2029%20Jul%202023%2003%3A01%3A48%20GMT');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; /* Fondo fijo */
    color: rgb(107, 107, 107);
}

.canva {
    margin-left: 15%;
    width: 70%;
}